<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>ID No</th>
            <th>Titre</th>
            <th>Heure</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{ event.id }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.time }}</td>
            <td>{{ event.type }}</td>
            <td><button class="pure-button" (click)="edit(event)">Editer</button></td>
            <td><button class="pure-button delete" (click)="delete(event.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>